Repository Miragon/miranum-ide, pull requests merged in 2023-05, with the labels that each got.

#227 bug(extensions): ignored breakpoints
  .vscode/launch.json
  apps/miranum-console/project.json
  apps/miranum-forms/project.json
  docs/development.md
  docs/quickstart.md
Labels: miranum-console, miranum-forms

#243 chore: rename git repositories
  README.md
  apps/miranum-cli/src/README.md
  apps/miranum-cli/src/app/generate/api.ts
  apps/miranum-console/README.md
  apps/miranum-console/package.json
  apps/miranum-extension-pack/README.md
  apps/miranum-extension-pack/package.json
  apps/miranum-forms/README.md
  apps/miranum-forms/package.json
  apps/miranum-forms/src/app/JsonSchemaBuilderProvider.ts
  apps/miranum-modeler/README.md
  apps/miranum-modeler/package.json
  docs/development.md
  docs/quickstart.md
  docs/releases.md
  libs/miranum-core/README.md
  spring-boot-apps/miranum-deployment-proxy/pom.xml
Labels: miranum-cli, miranum-console, miranum-core, miranum-deployment-proxy, miranum-forms, miranum-modeler, miranum-extension-pack

#244 chore(extensions): add changelogs
  apps/miranum-console/CHANGELOG.md
  apps/miranum-console/README.md
  apps/miranum-console/package.json
  apps/miranum-console/project.json
  apps/miranum-extension-pack/CHANGELOG.md
  apps/miranum-extension-pack/README.md
  apps/miranum-extension-pack/package.json
  apps/miranum-forms/CHANGELOG.md
  apps/miranum-forms/README.md
  apps/miranum-forms/package.json
  apps/miranum-forms/project.json
  apps/miranum-modeler/CHANGELOG.md
  apps/miranum-modeler/README.md
  apps/miranum-modeler/package.json
  apps/miranum-modeler/project.json
  docs/releases.md
Labels: miranum-console, miranum-forms, miranum-modeler, miranum-extension-pack
