Repository Miragon/miranum-ide, pull requests merged in 2023-03, with the labels that each got.

#95 fix(form-builder): buttons
  apps/miranum-forms/package.json
  apps/miranum-forms/src/app/JsonSchemaBuilderProvider.ts
  apps/miranum-forms/src/app/lib/TextEditorWrapper.ts
  package-lock.json
  package.json
Labels: miranum-forms

#102 fix(form-builder): synchronize with old repo
  apps/miranum-forms-webview/src/App.vue
  apps/miranum-forms-webview/src/types/VsCode.ts
  apps/miranum-forms/.eslintrc.json
  apps/miranum-forms/src/app/JsonSchemaBuilderProvider.ts
  apps/miranum-forms/src/app/controller/DocumentController.ts
  apps/miranum-forms/src/app/lib/Preview.ts
  apps/miranum-forms/src/app/lib/types.ts
  apps/miranum-forms/src/app/utils/Functions.ts
  apps/miranum-forms/tsconfig.app.json
  package-lock.json
  package.json
Labels: miranum-forms-webview, miranum-forms

#154 feat(modeler): add README to modeler
  apps/miranum-modeler/README.md
  apps/miranum-modeler/package.json
  images/komet_tp_bg.png
Labels: miranum-modeler

#169 fix(deployment-proxy): fix invalid configuration options
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy-example/src/main/resources/application.yaml
Labels: miranum-deployment-proxy
