Repository Miragon/miranum-ide, pull requests merged in 2023-01, with the labels that each got.

#44 fix/bundling:
  .github/workflows/release.yml
  .vscodeignore
  apps/miranum-console/.vscodeignore
  apps/miranum-console/package.json
  apps/miranum-console/project.json
  apps/miranum-console/src/app/deployment/deploymentAPI.ts
  images/komet.svg
  libs/miranum-core/src/lib/generate/plugins.ts
  package-lock.json
Labels: miranum-console, miranum-core

#40 feat: enable eslint properly
  .eslintrc.json
  apps/miranum-cli/src/app/deployment/api.ts
  apps/miranum-cli/src/app/deployment/deployments.spec.ts
  apps/miranum-cli/src/app/generate/generate.ts
  apps/miranum-cli/src/app/shared/fs.ts
  apps/miranum-console-webview/src/app/components/GenerateInput.tsx
  apps/miranum-console-webview/src/app/components/GenerateProjectInput.tsx
  apps/miranum-console-webview/src/app/components/UI/FileSelector.tsx
  apps/miranum-console/src/app/deployment/deploymentAPI.ts
  apps/miranum-console/src/app/generate/generate.ts
  apps/miranum-console/src/app/generate/generateAPI.ts
  apps/miranum-console/src/types/MessageAPI.ts
  libs/miranum-core/src/lib/deployment/rest/digiwf-deployment-plugin-rest.ts
  libs/miranum-core/src/lib/generate/plugins.spec.ts
  libs/miranum-core/src/lib/generate/plugins.ts
  libs/miranum-core/src/lib/miranum-core.spec.ts
  libs/miranum-core/src/lib/miranum-core.ts
  package-lock.json
  package.json
  tsconfig.base.json
Labels: miranum-cli, miranum-console-webview, miranum-console, miranum-core

#46 Feat/missing path message
  apps/miranum-cli/src/app/generate/api.ts
  apps/miranum-cli/src/app/generate/generate.ts
  apps/miranum-console-webview/src/app/components/GenerateInput.tsx
  apps/miranum-console-webview/src/app/components/GenerateProjectInput.tsx
  apps/miranum-console-webview/src/app/components/UI/FileSelector.tsx
  apps/miranum-console/src/app/generate/generateAPI.ts
  apps/miranum-console/src/types/MessageAPI.ts
  libs/miranum-core/src/lib/generate/plugins.ts
  libs/miranum-core/src/lib/miranum-core.ts
Labels: miranum-cli, miranum-console-webview, miranum-console, miranum-core

#35 refactor/docs:
  apps/miranum-console-webview/src/app/components/GenerateInput.tsx
  apps/miranum-console-webview/src/app/components/GenerateProjectInput.tsx
  docs/README.md
  docs/commands.md
  docs/development.md
Labels: miranum-console-webview

#48 Feat/project structure
  apps/miranum-console/package.json
  apps/miranum-console/project.json
  images/kometLogo.png
  miranum.json
  resources/templates/project-template/README.md
  resources/templates/project-template/configs/project-template_dev.config
  resources/templates/project-template/configs/project-template_prod.config
  resources/templates/project-template/element-templates/ .gitkeep
  resources/templates/project-template/forms/project-template_control.form
  resources/templates/project-template/forms/project-template_start.form
  resources/templates/project-template/miranum.json
  resources/templates/project-template/project-template.bpmn
Labels: miranum-console

#49 Feat/element template for docs
  libs/miranum-core/src/lib/generate/plugins.ts
  resources/templates/basicTemplates/mail-task-template.json
  resources/templates/project-template/README.md
Labels: miranum-core

#50 feat: codecov
  .github/workflows/build.yml
  package.json
  spring-boot-apps/miranum-deployment-proxy/miranum-coverage/pom.xml
Labels: miranum-deployment-proxy

#51 feat/tests
  apps/miranum-cli/src/app/deployment/deployment.ts
  apps/miranum-cli/src/app/deployment/deployments.spec.ts
  apps/miranum-cli/src/app/generate/api.ts
  apps/miranum-cli/src/app/shared/fs.spec.ts
  apps/miranum-cli/src/app/shared/fs.ts
  apps/miranum-cli/tests/deploymentApi.spec.ts
  apps/miranum-cli/tests/generateApi.spec.ts
  apps/miranum-cli/tests/testHelpers.ts
  apps/miranum-console/src/main.ts
  libs/miranum-core/README.md
  libs/miranum-core/src/index.ts
  libs/miranum-core/src/lib/deployment/plugins.ts
  libs/miranum-core/src/lib/deployment/rest/miranum-deployment-plugin-rest.spec.ts
  libs/miranum-core/src/lib/deployment/rest/miranum-deployment-plugin-rest.ts
  libs/miranum-core/src/lib/generate/plugins.spec.ts
  libs/miranum-core/src/lib/miranum-core.spec.ts
  miranum.json
  resources/my-process-automation-project/configs/dev-process.json
  resources/my-process-automation-project/miranum.json
Labels: miranum-cli, miranum-console, miranum-core

#56 fix/package-naming
  .github/workflows/release.yml
  resources/example-process/README.md
  resources/example-process/example-process.bpmn
  resources/example-process/forms/start-form-usertask.form
  resources/example-process/forms/user-task.form
  resources/example-process/miranum.json
  spring-boot-apps/miranum-deployment-proxy/miranum-coverage/pom.xml
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy-example/pom.xml
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy-example/src/main/java/io/miragon/miranum/miranumdeploymentproxy/ExampleApplication.java
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy-example/src/main/resources/application-test.properties
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy-example/src/main/resources/application.properties
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy-example/src/test/java/io/miragon/miranum/miranumdeploymentproxy/DeploymentControllerTest.java
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy-starter/pom.xml
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy-starter/src/main/java/io/miragon/miranum/miranumdeploymentproxy/configuration/DeploymentProxyAutoConfiguration.java
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy-starter/src/main/java/io/miragon/miranum/miranumdeploymentproxy/properties/DeploymentProxyProperties.java
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy-starter/src/main/resources/META-INF/spring.factories
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy/pom.xml
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy/src/main/java/io/miragon/miranum/digiwfdeploymentproxy/handler/DeploymentHandler.java
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy/src/main/java/io/miragon/miranum/miranumdeploymentproxy/controller/ApiExceptionHandler.java
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy/src/main/java/io/miragon/miranum/miranumdeploymentproxy/controller/DeploymentController.java
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy/src/main/java/io/miragon/miranum/miranumdeploymentproxy/dto/ArtifactDto.java
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy/src/main/java/io/miragon/miranum/miranumdeploymentproxy/dto/DeploymentDto.java
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy/src/main/java/io/miragon/miranum/miranumdeploymentproxy/dto/DeploymentSuccessDto.java
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy/src/main/java/io/miragon/miranum/miranumdeploymentproxy/dto/FileDto.java
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy/src/main/java/io/miragon/miranum/miranumdeploymentproxy/handler/DeploymentHandler.java
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy/src/main/java/io/miragon/miranum/miranumdeploymentproxy/handler/DryHandler.java
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy/src/main/java/io/miragon/miranum/miranumdeploymentproxy/handler/RestHandler.java
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy/src/main/java/io/miragon/miranum/miranumdeploymentproxy/service/DeploymentService.java
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy/src/test/java/io/miragon/miranum/miranumdeploymentproxy/DeploymentServiceTest.java
  spring-boot-apps/miranum-deployment-proxy/pom.xml
Labels: miranum-deployment-proxy

#55 refactor: lifecycled nx
  apps/miranum-console-webview/.eslintrc.json
  apps/miranum-console-webview/custom-webpack.config.js
  apps/miranum-console-webview/project.json
  nx.json
  package-lock.json
  package.json
Labels: miranum-console-webview

#57 Feat/generators
  apps/miranum-cli/src/app/deployment/deployment.ts
  apps/miranum-cli/src/app/deployment/deployments.spec.ts
  apps/miranum-cli/src/app/shared/fs.spec.ts
  apps/miranum-cli/src/app/shared/fs.ts
  apps/miranum-cli/tests/deploymentApi.spec.ts
  apps/miranum-cli/tests/generateApi.spec.ts
  apps/miranum-cli/tests/testHelpers.ts
  apps/miranum-console-webview/src/app/components/GenerateInput.tsx
  libs/miranum-core/src/lib/generate/plugins.spec.ts
  libs/miranum-core/src/lib/generate/plugins.ts
  libs/miranum-core/src/lib/miranum-core.spec.ts
  libs/miranum-core/src/lib/miranum-core.ts
  libs/miranum-core/src/lib/types.ts
  miranum.json
  resources/example-process/miranum.json
  resources/my-process-automation-project/configs/dev-process.config.json
  resources/my-process-automation-project/element-templates/test.json
  resources/my-process-automation-project/miranum.json
  resources/my-process-automation-project/my-other-forms/KontrollFormular.json
Labels: miranum-cli, miranum-console-webview, miranum-core

#61 feat/testDoc
  apps/miranum-console-webview/project.json
  apps/miranum-console-webview/src/app/components/GenerateProjectInput.tsx
  apps/miranum-console/project.json
  docs/README.md
  docs/development.md
  docs/test.md
Labels: miranum-console-webview, miranum-console
