Repository Miragon/miranum-ide, pull requests merged in 2023-02, with the labels that each got.

#79 Feat/use vite for bundling
  .vscode/launch.json
  apps/miranum-cli/project.json
  apps/miranum-cli/typedoc.json
  apps/miranum-console-webview/custom-webpack.config.js
  apps/miranum-console-webview/index.html
  apps/miranum-console-webview/project.json
  apps/miranum-console-webview/tsconfig.json
  apps/miranum-console-webview/vite.config.ts
  apps/miranum-console/src/Webviews/Inputs/generateInput.ts
  docs/development.md
  docs/generated/cliCommands/README.md
  docs/generated/cliCommands/modules.md
  docs/generated/cliCommands/modules/deployment_api.md
  docs/generated/cliCommands/modules/generate_api.md
  docs/generated/tutorial.md
  docs/generated/typedoc.json
  nx.json
  package-lock.json
  package.json
Labels: miranum-cli, miranum-console-webview, miranum-console

#82 refactor: Add yaml to deployment proxy
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy-example/pom.xml
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy-example/src/main/resources/application-test.properties
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy-example/src/main/resources/application.properties
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy-example/src/main/resources/application.yaml
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy-example/src/test/java/io/miragon/miranum/miranumdeploymentproxy/DeploymentControllerTest.java
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy-example/src/test/java/io/miragon/miranum/miranumdeploymentproxy/Properties.java
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy-example/src/test/java/io/miragon/miranum/miranumdeploymentproxy/PropertyFactory.java
  spring-boot-apps/miranum-deployment-proxy/miranum-deployment-proxy-example/src/test/resources/application-test.yaml
  spring-boot-apps/miranum-deployment-proxy/project.json
Labels: miranum-deployment-proxy

#81 feat: added helper script to set project version for each module
  apps/miranum-cli/package.json
  apps/miranum-console/package.json
  docs/releases.md
  libs/miranum-core/package.json
  package-lock.json
  package.json
  tools/scripts/set-version.js
Labels: miranum-cli, miranum-console, miranum-core, scripts

#84 Bugfix/miranum console only starts in existing directories
  apps/miranum-cli/src/app/shared/fs.ts
  apps/miranum-console-webview/project.json
  apps/miranum-console-webview/src/app/app.tsx
  apps/miranum-console-webview/src/app/components/GenerateInput.tsx
  apps/miranum-console-webview/src/app/components/GenerateProjectInput.tsx
  apps/miranum-console/package.json
  apps/miranum-console/src/Webviews/Inputs/generateInput.ts
  apps/miranum-console/src/app/deployment/commands.ts
  apps/miranum-console/src/app/deployment/deployment.ts
  apps/miranum-console/src/app/deployment/deploymentAPI.ts
  apps/miranum-console/src/app/generate/commands.ts
  apps/miranum-console/src/app/generate/generate.ts
  apps/miranum-console/src/app/generate/generateAPI.ts
  apps/miranum-console/src/app/shared/fs-helpers.ts
  apps/miranum-console/src/app/shared/message.ts
  apps/miranum-console/src/app/shared/webview.ts
  apps/miranum-console/src/main.ts
  apps/miranum-console/src/types/MessageAPI.ts
  apps/miranum-forms-webview/project.json
  apps/miranum-forms-webview/vite.config.ts
  libs/miranum-core/src/lib/miranum-core.spec.ts
  libs/miranum-core/src/lib/miranum-core.ts
  libs/miranum-core/src/lib/types.ts
Labels: miranum-cli, miranum-console-webview, miranum-console, miranum-core, miranum-forms-webview
