Repository Miragon/miranum-ide, pull requests merged in 2023-07, with the labels that each got.

#274 fix(console): use single webview
  apps/miranum-bpmn-modeler-webview/src/main.ts
  apps/miranum-console-webview/src/app/app.tsx
  apps/miranum-console-webview/src/app/components/GenerateInput.tsx
  apps/miranum-console-webview/src/app/components/GenerateProjectInput.tsx
  apps/miranum-console-webview/src/app/components/Hooks/Message.tsx
  apps/miranum-console-webview/src/app/components/UI/FileSelector.tsx
  apps/miranum-console-webview/src/main.tsx
  apps/miranum-console/.eslintrc.json
  apps/miranum-console/CHANGELOG.md
  apps/miranum-console/src/app/ConsolePanel.ts
  apps/miranum-console/src/app/generate/commands.ts
  apps/miranum-console/src/app/shared/fs-helpers.ts
  apps/miranum-console/src/app/types.ts
  apps/miranum-dmn-modeler-webview/src/main.ts
  apps/miranum-forms-webview/src/App.vue
  apps/miranum-forms/src/app/JsonSchemaBuilderProvider.ts
  apps/miranum-forms/src/app/components/PreviewComponent.ts
  apps/miranum-forms/src/app/controller/DocumentController.ts
  apps/miranum-modeler/src/app/BpmnModeler.ts
  apps/miranum-modeler/src/app/DmnModeler.ts
  libs/vscode/miranum-vscode-webview/src/lib/types.ts
  libs/vscode/shared/miranum-console/.eslintrc.json
  libs/vscode/shared/miranum-console/README.md
  libs/vscode/shared/miranum-console/jest.config.ts
  libs/vscode/shared/miranum-console/project.json
  libs/vscode/shared/miranum-console/src/index.ts
  libs/vscode/shared/miranum-console/src/lib/types.ts
  libs/vscode/shared/miranum-console/tsconfig.json
  libs/vscode/shared/miranum-console/tsconfig.lib.json
  libs/vscode/shared/miranum-console/tsconfig.spec.json
  package.json
  tsconfig.base.json
Labels: miranum-console-webview, miranum-console, miranum-forms-webview, miranum-forms, miranum-modeler, vscode, miranum-dmn-modeler-webview, miranum-bpmn-modeler-webview

#302 feat(properties-panel): add support for camunda 8 bpmn diagrams
  apps/miranum-bpmn-modeler-webview/src/main.ts
  apps/miranum-bpmn-modeler-webview/src/types/bpmn-js.d.ts
  apps/miranum-modeler/CHANGELOG.md
  apps/miranum-modeler/README.md
  apps/miranum-modeler/src/app/BpmnModeler.ts
  libs/vscode/shared/miranum-modeler/src/lib/types.ts
  package-lock.json
  package.json
  resources/example-process/camunda8-test.bpmn
  resources/example-process/restaurant-miranum-c8.bpmn
Labels: miranum-modeler, vscode, miranum-bpmn-modeler-webview

#322 feat(modeler): c7 append element template
  apps/miranum-bpmn-modeler-webview/public/empty.bpmn
  apps/miranum-bpmn-modeler-webview/public/favicon.ico
  apps/miranum-bpmn-modeler-webview/src/app/ContentController.ts
  apps/miranum-bpmn-modeler-webview/src/app/PropertieProvider/provider/MiragonProvider.ts
  apps/miranum-bpmn-modeler-webview/src/app/PropertieProvider/provider/parts/FormStartProp.ts
  apps/miranum-bpmn-modeler-webview/src/app/PropertieProvider/provider/parts/FormUserProp.ts
  apps/miranum-bpmn-modeler-webview/src/app/TemplateElementFactory.ts
  apps/miranum-bpmn-modeler-webview/src/app/formKeys.ts
  apps/miranum-bpmn-modeler-webview/src/app/index.ts
  apps/miranum-bpmn-modeler-webview/src/app/utils.ts
  apps/miranum-bpmn-modeler-webview/src/main.ts
  apps/miranum-bpmn-modeler-webview/src/types/bpmn-js.d.ts
  apps/miranum-bpmn-modeler-webview/uml/Camunda7ElementTemplate.puml
  apps/miranum-bpmn-modeler-webview/vite.config.ts
  apps/miranum-modeler/CHANGELOG.md
  apps/miranum-modeler/README.md
  apps/miranum-modeler/src/app/BpmnModeler.ts
  apps/miranum-modeler/src/app/DmnModeler.ts
  apps/miranum-modeler/src/app/lib/Watcher.ts
  libs/vscode/miranum-vscode-webview/src/index.ts
  libs/vscode/miranum-vscode-webview/src/lib/asyncDebounce.ts
  libs/vscode/miranum-vscode/src/lib/fileSystem/Reader.ts
  package-lock.json
  package.json
  resources/example-process/camunda8-test.bpmn
  resources/example-process/element-templates/c7-example.json
  resources/example-process/element-templates/c7-mail-task-1.json
  resources/example-process/element-templates/c7-mail-task-2.json
  resources/example-process/element-templates/c8-example.json
  resources/example-process/element-templates/c8-test.json
  resources/example-process/example-process.bpmn
Labels: miranum-modeler, vscode, miranum-bpmn-modeler-webview

#334 fix(modeler): read miranum json recursive
  apps/miranum-modeler/src/app/BpmnModeler.ts
Labels: miranum-modeler
